<Router AppAssembly="@typeof(App).Assembly">

    @*//Component found*@
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />    @*//Render 'MainLayout.razor' component*@
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />                    @*//Focus on navigated element *@
    </Found>

    @*//Component NOT found*@
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">   @*//Render 'MainLayout.razor' component*@
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>

</Router>
